<body>
  {{> nav}}
  <main>
    {{#if msg }}
    {{#if error}}
    <div class="feedback valign-wrapper custom-container error">
      <i class="tiny material-icons helper-icon">info_outline</i>
      <span class="valign-wrapper" data-error="wrong" data-success="right">{{ msg }}</span>
    </div>
    {{/if}}
    {{#unless error}}
    <div class="feedback valign-wrapper custom-container success">
      <i class="tiny material-icons helper-icon">info_outline</i>
      <span class="valign-wrapper" data-error="wrong" data-success="right">{{ msg }}</span>
    </div>
    {{/unless}}
    {{/if}}
    <h1 class="center-align">생산성 향상</h1>

    <div class="slider">
      <ul class="slides">
        <li>
          {{!-- <img src="/Assets/stockZoom.jpg"> --}}
          <div class="caption left-align">
            <h3>Secure</h3>
            <h5 class="navy-text text-lighten-3">고유한 일회용 코드 P2P chat.</h5>
          </div>
        </li>
        <li>
          {{!-- <img src="/Assets/stockComputerGuy.jpg"> --}}
          <div class="caption left-align">
            <h3>Free</h3>
            <h5 class="light grey-text text-lighten-3">등록된 사용자에 대한 무제한 액세스</h5>
          </div>
        </li>
        <li>
          {{!-- <img src="/Assets/stockComputer.jpg"> --}}
          <div class="caption left-align">
            <h3 id="intText">사용방법</h3>
            <h5 class="light grey-text text-lighten-3">간단한 3단계 사용자 인터페이스</h5>
            <h5 class="light grey-text text-lighten-3">1. 방을 만들고.</h5>
            <h5 class="light grey-text text-lighten-3">2. 회의실 UID를 공유합니다.</h5>
            <h5 class="light grey-text text-lighten-3">3. 방에 참여하고 채팅하십시오.</h5>
          </div>
        </li>

      </ul>
    </div>
    <div class="row">
      <div class="col s4 offset-s4 center-align">
        <script>
          function jsfn_roomCheck(){
            let _joinForm =  document.getElementById('joinForm');
            let _roomName =  document.getElementById('roomName').value;
            if(_roomName==''||_roomName===undefined){
              alert('회의실 UID를 입력해 주세요.');
              document.getElementById('roomName').focus();
              return;
            }
            _joinForm.action = '/';
            _joinForm.submit();
          }
        </script>
        <form method="POST" id="joinForm">
          <input type="text" id="roomName" name="roomName" placeholder="Room Number">
          <input type="button" value="Join Room" name="joinRoom" onclick="jsfn_roomCheck();">
        </form>
        <form action="/" method="POST" , id="createForm">
          <input type="submit" value="Create Room" name="createRoom">

        </form>
      </div>
    </div>
  </main>
  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.js"></script>
  <script>
    $(document).ready(function () {
      $('.slider').slider();
    });
  </script>



  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          {{!-- <h5 class="white-text">Dev Team</h5>
          <p class="grey-text text-lighten-4">Follow the adjacent links to learn more about our dev team. Please give us
            some love on social media.</p> --}}
        </div>
        <div class="col l4 offset-l2 s12">
          {{!-- <h5 class="white-text">Roster</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://wbrink.github.io/" target="_blank">Will Brink</a></li>
            <li><a class="grey-text text-lighten-3" href="https://github.com/DorianYoung" target="_blank">Dorian
                Young</a></li>
            <li><a class="grey-text text-lighten-3" href="https://aaron32365.github.io/Portfolio/" target="_blank">Aaron
                Williams</a>
            </li>
            <li><a class="grey-text text-lighten-3" href="https://sheapa.github.io/portfolio/" target="_blank">Patrick
                Shea</a></li>
          </ul> --}}
        </div>
      </div>
    </div>
    {{> footer}}
  </footer>

</body>